{{#if logged_in}}
<h4>Welcome Back, {{users.name}}!</h4>

{{#each users.posts as | post |}}
<h5>{{post.title}}</h5>
<p>{{post.post}}</p>
<p>{{post.date_created}}</p>

{{/each}}


{{else}}
<a href="/login">Log in to view your posts.</a>
{{/if}}