<div id="posts">

    <div class = "col-md-9">
    {{#each posts as | post |}}

    <a href="/posts/{{post.id}}">{{post.title}}</a>

    <p>{{date_created}}: Posted by: {{user.name}}</p>
    </div>
    {{!-- <p>{{name}}</p> --}}

    {{/each}}
</div>

<script src="js/posts.js"></script>


<div class="mx-2 col-6" id="post-comment">
<div class="form-group">
  <label for="comment">Add a comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
  <button type="button" class="btn btn-dark">Submit</button>
</div>
</div>